.html
{display: block;}
.head
{display: none;}
.meta
{display: none;}
.script
{display: none;}
.body
{margin: 0;
font-family: "roboto",sans-serif;}
.body
{display: block;}
.loader_page
{position: fixed;
z-index: #999;
top: 0;
right: 0;
bottom: 0;
width: 100%;
height: 100%;
background: #fff;
display: flex;
-webkit-box-pack: center;
justify-content: center;
-webkit-box-align: center;
align-items: center;
visibility: hidden;
transition: visibility 3s;
}
.loader_page--spinner
{position: relative;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 5px solid #f2f2f2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.main
{display: block;}
.headerlogo {
    text-align: center;
    padding: 1rem 0 0 0;
}
.headerlogo_img {
    width: 12rem;
    height: 3rem;
}
.reservation {
    grid-column-start: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    text-align: center;
    background-color: #f6f6f6;
    padding: 1rem 0 1rem 0;
    
}
.reservation_local {
    width: 100%;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 15px 10px;
    background-color: #eaeaea;
    box-shadow: 0px 3px 3px #73737338 inset;

}
.reservation_local--fas {
    margin: 0 1.5rem 0 -2rem;
}
.btn {
    grid-column-start: 1;
    box-sizing: border-box;
    -webkit-box-direction: normal;
    flex-direction: column;
    text-align: center;
    border-radius: 25px;
    padding: 15px 30px;
    background-color: rgb(236, 81, 216);
    color: #fff;
    font-weight: bold;
    display: inline-block;
}

.function {
    text-align: center;
    justify-content: flex;
    align-items: center;
}
.function--title{
    font-weight: bolder;
    align-items: center;
    justify-content: flex;
    
}
.function_step--number{
    text-align: center;
    justify-content: flex;
    background-color: #9356dc;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    margin: 0 15px;
    height: 25px;
    left: -12px;
    line-height: 1.67px;
    position: auto;
    text-align: center;
    width: 25px;
        
}
.function_step--title{
    text-align: left;
    display: inline-block;
}
.fas fa-mobile_alt{
    align-items: center;
    display: flex;
}

.function_step--icon{
    justify-content:center;
    align-items:center;
    text-align: center;
    display: inline-block;
    margin: 0 15px;
}
.function_step1{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
    background-color:#f6f6f6;
    border-radius: 20px;
    padding: 5px 5px;
    margin-bottom: 20px;

}
.function_step2{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 1rem 0;
    background-color:#f6f6f6;
    border-radius: 20px;
    padding: 5px 5px;
    margin-bottom: 20px;

}
.function_step3{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 1rem 0;
    background-color:#f6f6f6;
    border-radius: 20px;
    padding: 5px 5px;
    margin-bottom: 20px;
    
}



.restaurants--title{
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.restaurants_card--img{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    max-height: 200px;
    object-fit: cover;
    margin: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}
.restaurants_card--tag{
    padding: 3px 10px;
    background-color: aqua;
    color: rgb(12, 14, 13);
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: auto;
    
}
@media screen and (max-width: 576px)
@media screen and (max-width: 768px)

}

}
