
*{
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

.headerlogopres {
    text-align: center;
    padding: 1rem 0 0 0;
}
.headerlogo_img {
    width: 12rem;
    height: 3rem;
}
.reservation {
    grid-column-start: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    text-align: center;
    background-color: #f6f6f6;
    padding: 1rem 0 1rem 0;
    box-shadow: 10px 5px 5px rgb(226, 215, 215);
    
}
.reservation_local {
    width: 100%;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 15px 10px;
    background-color: #eaeaea;
    box-shadow: 0px 3px 3px #73737338 inset;

}
.reservation_local--fas {
    margin: 0 1.5rem 0 -2rem;
    margin-bottom: 0px;
}
.reservation_search--title {
    margin-top: 20px;
    margin-bottom: 10px;
}

.reservation_search {
    margin-bottom: 10px;
}
.btn {
    background: linear-gradient(#9356DC, #FF79DA);
    box-shadow: 2px 2px 5px grey;
    grid-column-start: 1;
    box-sizing: border-box;
    -webkit-box-direction: normal;
    flex-direction: column;
    text-align: center;
    border-radius: 25px;
    padding: 15px 30px;
    background-color: rgb(236, 81, 216);
    color: #fff;
    font-weight: bold;
    display: inline-block;
    margin: 30px;
    border: 0px;
}

.function {
    text-align: left;
    justify-content: flex;
    align-items: center;
    box-shadow: 10px 5px 5px rgb(247, 243, 243);
    margin-bottom: 20px;
    padding: 40px;
    
    
}
.function--title {
    font-weight: bolder;
    margin-bottom: 30px;
    
}
.function_step--number {
    text-align: center;
    justify-content: flex;
    background-color: #9356dc;
    border-radius: 100%;
    color: #fff;
    display: block;
    height: 25px;
    left: -15px;
    position: absolute;
    width: 25px;
    line-height: 25px;
    

        
}
.function_step--title {
    text-align: left;
    display: inline-block;
    color: black;
}
.fas fa-mobile_alt {
    align-items: center;
    display: flex;
}

.function_step--icon {
    justify-content:center;
    align-items:center;
    text-align: center;
    display: inline-block;
    margin: 0 20px;
    color: #7e7e7e;
}

.function_step {
    width: 250px;
    margin: auto;
    padding: 30px 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color:#f0eaea;
    border-radius: 1.5rem;
    padding: 15px 20px;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 10px 5px 5px rgb(226,215,215);
}
  
.restaurants {
    position: relative;
    margin-bottom: 20px;
    background: #f6f6f6;
    display: grid;
    margin: 10px;
}

.restaurants--title {
    justify-content: left;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: "roboto",sans-serif;
    font-size: 1.5rem;
}

.restaurants_card {
    position: relative;

    
}
.restaurants_card--img {
    box-shadow: 10px 5px 5px rgb(226, 215, 215);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    max-height: 200px;
    object-fit: cover;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
      
}

.restaurants_card--tag {
    border-radius: 5px;
    padding: auto;
    background-color: aqua;
    color: rgb(7, 82, 57);
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 40px;
 

}

.restaurants_card--text {
    box-shadow: 10px 5px 5px rgb(226, 215, 215);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    max-height: 200px;
    max-width: 100%;
    object-fit: cover;
    margin: 0px,5px;
    align-items: center;
    display: flex;
    justify-content: flex;
    text-align: left;
    background-color:#fff;
    width: 100%; 
}

.restaurants_heart--animation {
    color: black;
}
.footerlogo {
    align-items: center;
    justify-content: flex;
    color:white;
}
.footer {
    text-align: left;
    background-color:  #353535;
    color: white;
    box-shadow: 10px 5px 5px 5px rgb(226, 215, 215);
    font-family: "roboto",sans-serif;
    display: flex;
    padding: 0 0 1.5rem 1.5rem;
    font-size: 12px;
    

}
.onefooter-icon {
    color: white;
}

.one {
    color: white;
}    

.texte {
    color: white;
}

.ul {
    color: white;
}
.footerlink {
    margin: 0 0 10px 0;
    color: white;
    text-decoration: none;
    
}
.card--img {
    height: 200px;
    object-fit: cover;
}
.card__info {
    justify-content: space-evenly;
    color: black;
}
.card__new {
    position:absolute;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(93, 233, 203);
    color: rgb(7, 82, 57);
    font-weight: bold;
    top: 1rem;
    right: 1rem;
}
.card__info__textes {
    position: relative;
    background-color: #fff;
    border-radius: 0 0 1.5rem 1.5rem;
    padding-left: 1rem;
    height: 75px;
    margin-top: 10px;


    
}


.coeur {
    position:absolute;
    font-size: 24px;
    right: 1rem;
    bottom: 1rem;
    line-height: 50px;
}
.implat {
    background-color: white;
    margin-bottom: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-radius: 25px;
    box-shadow: 3px 3px 5px grey;
    overflow: hidden;
    cursor: pointer;
    &__infos {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      flex: 1;
      &--name {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      }
      &--descr {
      overflow: hidden;
      text-overflow: ellipsis;
      }
    }
    &__price {
      padding: 0 10px 10px 10px;
    }
    &__checked {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      max-width: 0;
      overflow: hidden;
      width: 30%;
      background-color: green;
      transition: all 0.5s linear;
      &--check {
        color: white;
        font-size: 30px;
        transition: all 0.5s linear;
      }
    }
  }

/*
@media screen and (max-width: 576px)
@media screen and (max-width: 768px)
*/

