*{
  margin: 0;
  padding: 0;
}

.card {
  background-color: white;
  margin-bottom: 20px;
  margin: 10px;
  padding: 5px;
  width: 320px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-radius: 15px;
  box-shadow: 3px 3px 5px grey;
  overflow: hidden;
  cursor: pointer;
  &__infos {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    &--name {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    &--descr {
    overflow: hidden;
    text-overflow: ellipsis;
    }
  }
  &__price {
    padding: 0 10px 10px 10px;
  }
  &__checked {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    max-width: 0;
    overflow: hidden;
    width: 30%;
    background-color: green;
    transition: all 0.5s linear;
    &--check {
      color: white;
      font-size: 30px;
      transition: all 0.5s linear;
    }
  }
  &:hover {
    .card__checked {
      max-width: 50px;
      &--check {
        transform: rotateZ(360deg);
      }
    }
  }
}
.title-coeur {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}
.title {
  position: relative;
}
.heart {
  position: relative;

}
.menugeneral {
  background-color: rgb(231, 233, 229);
  padding: 5px;
  border-radius: 25px;
  margin-top: -25px;
  position: relative;

}

.footerlink {
  margin: 0 0 10px 0;
  color: white;
  text-decoration: none;

}
.menu-box-title {
  margin-bottom: 0px;
  
}
.img {
  color: white;
}
.footer {
  text-align: left;
  display: flex;
  background-color: #353535;
  color: white;
  box-shadow: 10px 5px 5px 5px rgb(226, 215, 215);
  padding: 0 0 1.5rem 1.5rem;
  font-size: 12px;
  
}
.footerlogo {
  filter: invert(100%);
  width: 105px;
  height: 15px;
  padding: 2rem 0 1.5rem 0;
  margin: 0 0 0 -10px;
}
.header__title {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  color:black;
}
#fas {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  color: white;
}

.btn__commander--block {
  grid-column-start: 2;
  text-align: center;
  cursor: pointer;
}
.btn__commander {
  border-radius: 25px;
  flex-direction: column;
  text-align: center;
  background-color: #ec51d8;
  color: white;
  padding: 15px 30px;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  margin: 30px;
  border: 0px;

}
#blanc {
  color:white;

}
#ul {
  list-style-type: none;
  display: flex;
}

.body {
  text-decoration: none;
  
}
.onefooter-icon {
  list-style: none;
  display: contents;
  
  
}
  
.return {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  color: black;
}
.headerlogo {
  text-align: right;
  padding: 1rem 0 0 0;
}
.menu__title {
  padding-top: 1rem;
  padding-right: 0px;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  font-size: 1rem;
}

.menu__titre--underline {
  width: 2.5rem;
  border-top: 3px solid #99e2d0;
  margin: 1rem 0 0 0;
}
.header {
  display: flex;
  justify-content: center;
}
