.card {
  background-color: white;
  margin-bottom: 20px;
  width: 320px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-radius: 15px;
  box-shadow: 3px 3px 5px grey;
  overflow: hidden;
  cursor: pointer;
  &__infos {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    &--name {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    &--descr {
    overflow: hidden;
    text-overflow: ellipsis;
    }
  }
  &__price {
    padding: 0 10px 10px 10px;
  }
  &__checked {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    max-width: 0;
    overflow: hidden;
    width: 30%;
    background-color: green;
    transition: all 0.5s linear;
    &--check {
      color: white;
      font-size: 30px;
      transition: all 0.5s linear;
    }
  }
  &:hover {
    .card__checked {
      max-width: 50px;
      &--check {
        transform: rotateZ(360deg)
      }
    }
  }
}
.title-coeur {
  display: flex;
  flex: 1;
}
.menugeneral {
  background-color: rgb(231, 233, 229);
  padding-left: 5px;

}
.footerlink {
  background-color: black;
  
}
.menu-box-title {
  margin-bottom: ;
  
}
.img {
  color: white;
}
.footer {
  background-color: black;
}
.header__title {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
}
.fas fa-arrow-left {
  color: black;
}
.btn__commander--block {
  grid-column-start: 2;
  text-align: center;
  margin: 2.5rem 0 4.3rem 0;
  cursor: pointer;
}
.btn__commander {
  border-radius: 25px;
  flex-direction: column;
  text-align: center;
  background-color: #ec51d8;
  color: white;
  padding: 15px 30px;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  margin: 30px;

}