*{
  margin: 0;
  padding: 0;
}

.card {
  background-color: white;
  margin-bottom: 20px;
  margin: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-radius: 15px;
  box-shadow: 3px 3px 5px grey;
  overflow: hidden;
  cursor: pointer;
  animation: enter 1s linear both;
  &__infos {
    margin: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    &--name {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    &--descr {
    overflow: hidden;
    text-overflow: ellipsis;
    }
  }
  &__price {
    padding: 0 10px 10px 10px;
  }
  &__checked {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    max-width: 0;
    overflow: hidden;
    width: 30%;
    background-color: green;
    transition: all 0.5s linear;
    &--check {
      color: white;
      font-size: 30px;
      transition: all 0.5s linear;
    }
  }
  &:hover {
    .card__checked {
      max-width: 50px;
      &--check {
        transform: rotateZ(360deg);
      }
    }
  }
}
.menutitle{
  text-transform: uppercase;
  font-weight: blod;
  font-size: 18px;
  &--underline {
    border-bottom: 3px solid #99e2d0
  }
}
.title-peace {
  display:flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 10px;
}
.title {
  position: relative;
}
.peace {
  position:relative;
    cursor: pointer;
    &--hearth {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        transition: all 1s linear;
          
        &.empty {
            opacity: 1;
        }
          
        &.full {
            opacity: 0;
            background: linear-gradient(#9356DC, #FF79DA);
            -webkit-background-clip: text;
            background-clip: text;
            text-emphasis-color: transparent;
            -webkit-text-fill-color: transparent;
            text-emphasis-color: transparent;
            -webkit-text-stroke-color: transparent;
        }
          
    }
          
        &:hover {
            .peace--hearth{
                &.empty {
            opacity: 0;
        }
          
        &.full {
            opacity: 1;
        }
          }
        }

}
.menugeneral {
  background-color: rgb(231, 233, 229);
  padding: 5px;
  border-radius: 25px;
  margin-top: -25px;
  position: relative;

}

.footerlink {
  margin: 0 0 10px 0;
  color: white;
  text-decoration: none;

}
.menu-box-title {
  margin-bottom: 0px;
  
}
.img {
  color: white;
}
.footer {
  text-align: left;
  display: flex;
  background-color: #353535;
  color: white;
  box-shadow: 10px 5px 5px 5px rgb(226, 215, 215);
  padding: 0 0 1.5rem 1.5rem;
  font-size: 12px;
  
}
.footerlogo {
  filter: invert(100%);
  width: 105px;
  height: 15px;
  padding: 2rem 0 1.5rem 0;
  margin: 0 0 0 -10px;
}
.header__title {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  color:black;
}
#fas {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  color: white;
}

.btn__commander--block {
  grid-column-start: 2;
  text-align: center;
  cursor: pointer;
}
.btn__commander {
  background: linear-gradient(#9356DC, #FF79DA);
    box-shadow: 2px 2px 5px grey;
    grid-column-start: 1;
    box-sizing: border-box;
    -webkit-box-direction: normal;
    flex-direction: column;
    text-align: center;
    border-radius: 25px;
    padding: 15px 30px;
    background-color: rgb(236, 81, 216);
    color: #fff;
    font-weight: bold;
    display: inline-block;
    margin: 30px;
    border: 0px;
    &:hover {
      filter: brightness(160%);
      box-shadow: 20px 20px 2px grey;
  }
}
#blanc {
  color:white;

}
#ul {
  list-style-type: none;
  display: flex;
}

.body {
  text-decoration: none;
  
}
.onefooter-icon {
  list-style: none;
  display: contents;
  
  
}
  
.return {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  color: black;
}
.headerlogo {
  text-align: right;
  padding: 1rem 0 0 0;
}
.menutitre {
  padding: 10px;
    text-transform: uppercase;
    font-weight: bod;
    font-size: 18px;
    &--underline {
      border-bottom: 3px solid #99e2d0
    }
}

.header {
  display: flex;
  justify-content: center;
}

@keyframes enter{
  0%{
    transform: translateY(30px);
    opacity: 0
  }
  50%{
    transform: translateY(15px);
    opacity: 1
  }
  100%{
    transform: translateY(0);
    opacity: 1
  }
}

